:root {
  --primary-100:#0085ff;
  --primary-200:#69b4ff;
  --primary-300:#e0ffff;
  --accent-100:#006fff;
  --accent-200:#e1ffff;
  --text-100:#FFFFFF;
  --text-200:#9e9e9e;
  --bg-100:#1E1E1E;
  --bg-200:#2d2d2d;
  --bg-300:#454545;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}   

html {
  font-size: 16px;
}

.sections {
  padding : 4rem 5rem;
  color : var(--text-200);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  color : var(--accent-100);
  font-size: 2rem;
  font-weight: 700;
  margin: 2.5rem 0;
}

.section-description {
  color: var(--text-200);
  line-height: 1.5;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.accent {
  color: var(--primary-200);
}

#main-container {
  font-family: 'GmarketSansMedium';
}

#navbar {
  position: sticky;
  top: 0;
  display : flex;
  align-items: center;
  background-color: var(--primary-100);
  color : var(--text-100);
  transition: 300ms all;
}

#navbar:hover {
  z-index: 999;
}

.nav-title {
  font-size : 2.5rem;
  font-weight: 700;
  padding: 2rem 5rem;
}

.nav-menu {
  height : 50%;
  padding: 0 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-items {
  width : 100%;
  height : 100%;
  padding: 1rem;
  margin: .5rem;
  text-align : center;
  border-radius : .25rem;
  cursor: pointer;
  transition : 300ms all;
}

.nav-items:hover {
  opacity : .77;
  background-color: var(--primary-200);
}

#greeting {
  background-color: var(--bg-300);
  text-align: center;
}

.greeting-left {
  margin-right : 5rem;
}

.greeting-left img {
  width : 250px;
  padding: 2rem;
  border-radius : 25%;
}

.greeting-right p {
  color: var(--accent-100);
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.greeting-right div {
  line-height: 1.5;
  font-size: 1.5rem;
}

#skills {
  background-color: var(--bg-200);
}

#skills > .section-description {
  color: var(--text-100);
}

.skills-container {
  display: flex;
  align-items: center;
}

.skills-languages, .skills-others {
  display: flex;
  align-items: center;
}

.skills-languages {
  padding-right: 2rem;
  margin-right: 2rem;
  border-right: 2px solid var(--text-100);
}
  
.language, .other {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-right: .5rem;
  text-align: center;
  transition: 300ms all linear;
}

.language:hover,.other:hover {
  transform: scale(1.025) rotate(5deg);
}

.languages-title, .others-title {
  color: var(--accent-100);
  background-color: var(--bg-300);
  padding: .5rem 1.5rem;
  border-radius: .75rem;
  font-size: 1.25rem;
  font-weight: 500;
  margin-right: 2rem;
}

.language i, .other i {
  color: var(--accent-200);
  font-size: 5rem;
  margin-bottom: .5rem;
}

.skills-graph {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-top: 2rem;
  padding: 2rem;
  background-color: var(--bg-300);
  border-radius: 12px;
}

.graph-left, .graph-right {
  width: 33%;
}

.graph-left {
  margin-right: 2rem;
}

.graph-item {
  margin-bottom: 2rem;
}

.graph-item-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  color: var(--text-100);
  font-size: 1.25rem;
  font-weight: 500;
}

.graph-main-line {
  width: 100%;
  height: 2px;
  background-color: var(--accent-200);
  position: relative;
}

.graph-sub-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: var(--accent-100);
}
  
#projects {
  background-color: var(--bg-100);
}

#contact {
  background-color: var(--bg-200);
}

.contact-container {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.contact-container p {
  margin-bottom: 1.5rem;
}

.contact-links {
  display: flex;
  justify-content: center;
}

.contact-links>i {
  color: var(--accent-200);
  font-size: 2.5rem;
  margin: .5rem;
  padding: 1rem 0 1rem 1rem;
  transition: 300ms all;
}

.contact-links>i:hover {
  transform: scale(1.025) rotate(5deg);
}

#footer {
  background-color: var(--bg-100);
  padding: 1rem;
  display: flex;
  justify-content: center;
  color: var(--primary-300);
}