:root {
  /* color */
  --primary-100: #0085ff;
  --primary-200: #69b4ff;
  --primary-300: #e0ffff;
  --accent-100: #006fff;
  --accent-200: #e1ffff;
  --text-100: #ffffff;
  --text-200: #9e9e9e;
  --bg-100: #1e1e1e;
  --bg-200: #2d2d2d;
  --bg-300: #454545;
  /* font-size */
  --font-size-large: 36px;
  --font-size-medium-large: 24px;
  --font-size-medium: 18px;
  --font-size-small: 14px;
  --font-size-micro: 10px;
  /* margin */
  --margin-size-large: 80px;
  --margin-size-medium-large: 36px;
  --margin-size-medium: 22px;
  --margin-size-small: 18px;
  --margin-size-micro: 14px;
  /* padding */
  --padding-size-large: 80px;
  --padding-size-medium-large: 36px;
  --padding-size-medium: 22px;
  --padding-size-small: 18px;
  --padding-size-micro: 14px;
  /* animation */
  --animation-duration: 300ms;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

.sections {
  padding: 60px 80px;
  color: var(--text-200);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  color: var(--accent-100);
  font-size: calc(var(--font-size-large) * 0.75);
  font-weight: 700;
  margin: var(--margin-size-medium-large) 0;
}

.section-description {
  color: var(--text-200);
  line-height: 1.5;
  font-size: var(--font-size-medium);
  margin-bottom: var(--margin-size-medium-large);
  text-align: center;
}

.accent {
  color: var(--primary-200);
}

#main-container {
  font-family: "GmarketSansMedium";
}

/* navbar */

#navbar {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: var(--primary-100);
  color: var(--text-100);
  z-index: 999;
  transition: var(--animation-duration) all;
}

.nav-title {
  font-size: var(--font-size-large);
  font-weight: 700;
  padding: var(--padding-size-medium) var(--padding-size-medium-large);
}

.nav-menu {
  height: 50%;
  padding: 0 var(--padding-size-large);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-items {
  width: 100%;
  height: 100%;
  padding: var(--padding-size-small);
  margin: var(--margin-size-micro);
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: var(--animation-duration) all;
}

.nav-items:hover {
  opacity: 0.77;
  background-color: var(--primary-200);
}

.nav-button {
  display: none;
  position: absolute;
  top: 14px;
  right: 14px;
  background: none;
  color: var(--primary-300);
  border: none;
  outline: none;
  font-size: var(--font-size-large);
  transition: var(--animation-duration) all;
}

/* greeting */

#greeting {
  background-color: var(--bg-300);
  text-align: center;
}

.greeting-left {
  margin-right: var(--margin-size-large);
  text-align: center;
}

.greeting-left img {
  width: 250px;
  padding: var(--padding-size-medium-large);
  border-radius: 25%;
}

.greeting-right {
  line-height: 1.5;
}

.greeting-right span {
  color: var(--accent-100);
  font-size: var(--font-size-medium-large);
  font-weight: 500;
  margin-bottom: var(--margin-size-medium);
}

.greeting-right div {
  line-height: 1.5;
  font-size: var(--font-size-medium-large);
}

#skills {
  background-color: var(--bg-200);
}

#skills > .section-description {
  color: var(--text-100);
}

.skills-container {
  display: flex;
  align-items: center;
}

.languages-container,
.others-container {
  display: flex;
  align-items: center;
}

.skills-languages {
  padding-right: var(--padding-size-medium-large);
  margin-right: var(--margin-size-medium-large);
  border-right: 2px solid var(--text-100);
}

.language,
.other {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-size-small);
  margin-right: var(--margin-size-micro);
  text-align: center;
  transition: var(--animation-duration) all linear;
}

.language:hover,
.other:hover {
  transform: scale(1.025) rotate(5deg);
}

.languages-title,
.others-title {
  color: var(--accent-100);
  background-color: var(--bg-300);
  padding: var(--padding-size-micro) var(--padding-size-small);
  border-radius: 0.75rem;
  font-size: var(--font-size-medium);
  font-weight: 500;
  margin-right: var(--margin-size-medium);
  text-align: center;
}

.language i,
.other i {
  color: var(--accent-200);
  font-size: calc(var(--font-size-large) * 2);
  margin-bottom: var(--margin-size-micro);
}

.skills-graph {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin-top: var(--margin-size-medium);
  padding: var(--padding-size-medium);
  background-color: var(--bg-300);
  border-radius: 12px;
}

.graph-left,
.graph-right {
  width: 45%;
}

.graph-left {
  margin-right: var(--margin-size-medium);
}

.graph-item {
  margin-bottom: var(--margin-size-medium);
}

.graph-item-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--margin-size-small);
  color: var(--text-100);
  font-size: var(--font-size-medium);
  font-weight: 500;
}

.graph-main-line {
  width: 100%;
  height: 2px;
  background-color: var(--accent-200);
  position: relative;
}

.graph-sub-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background-color: var(--accent-100);
}

#projects {
  background-color: var(--bg-100);
}

.project-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: var(--margin-size-medium-large);
}

.project-btn-container button {
  border-radius: 8px;
  color: var(--accent-100);
  background-color: var(--bg-300);
  padding: var(--padding-size-micro) var(--padding-size-small);
  font-size: var(--font-size-medium);
  font-weight: 300;
  margin-right: var(--margin-size-micro);
  cursor: pointer;
  transition: var(--animation-duration) all;
}

.project-btn-container button:hover {
  color: var(--accent-200);
  transform: scale(1.025);
}

.projects {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, auto);
}

.project {
  position: relative;
  width: 240px;
  height: 360px;
  border-radius: 10px;
  overflow: hidden;
}

.project img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-medium-large);
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--primary-100);
  opacity: 0;
  transition: var(--animation-duration) opacity ease-in;
}

.project-description:hover {
  opacity: 1;
}

#contact {
  background-color: var(--bg-200);
}

.contact-container {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-medium);
}

.contact-container p {
  margin-bottom: var(--margin-size-medium);
}

.contact-links {
  display: flex;
  justify-content: center;
}

.contact-links > a {
  color: var(--accent-200);
  font-size: var(--font-size-large);
  margin: var(--margin-size-micro);
  padding: var(--padding-size-small);
  padding-right: 0;
  transition: var(--animation-duration) all;
}

.contact-links > a:hover {
  transform: scale(1.025) rotate(5deg);
}

#footer {
  background-color: var(--bg-100);
  padding: var(--padding-size-small);
  display: flex;
  justify-content: center;
  color: var(--accent-100);
  font-size: var(--font-size-medium);
  opacity: 0.55;
}

@media screen and (max-width: 413px) {
  :root {
    /* font-size */
    --font-size-large: 28px;
    --font-size-medium-large: 20px;
    --font-size-medium: 14px;
    --font-size-small: 10px;
    --font-size-micro: 8px;
    /* margin */
    --margin-size-large: 40px;
    --margin-size-medium-large: 18px;
    --margin-size-medium: 11px;
    --margin-size-small: 9px;
    --margin-size-micro: 7px;
    /* padding */
    --padding-size-large: 40px;
    --padding-size-medium-large: 18px;
    --padding-size-medium: 11px;
    --padding-size-small: 9px;
    --padding-size-micro: 7px;
    /* animation */
  }
  .sections {
    padding: 30px 40px;
  }
  /* media query : navbar */
  #navbar,
  .nav-menu,
  .skills-container {
    flex-direction: column;
  }
  .nav-title {
    text-align: center;
  }
  .nav-menu {
    display: none;
  }
  .nav-button {
    display: block;
  }
  /* media query : greeting */
  #greeting {
    text-align: left;
  }
  .greeting-left {
    margin: 0;
  }
  .greeting-left img {
    width: 125px;
  }
  /* media query : skills */
  .skills-languages {
    border: none;
    margin: 0;
    padding: 0;
  }
  .languages-title,
  .others-title {
    margin: var(--margin-size-medium-large) 0;
  }
  .skills-graph {
    width: 95%;
  }

  /* media query : project */
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .project {
    width: 160px;
    height: 220px;
  }
}
